/* Navigation */

@import "variables";
@import "dropdown-menu";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__home {
    z-index: 5;

    .logo {
      width: 155px;
    }
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .list {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: none;
      z-index: 2;

      .item {
        display: none;
        transition: height .3s cubic-bezier(0.23, 1, 0.32, 1);

        .link {
          display: none;
        }
      }
    }
  }

  .menu-toggle:checked ~ &__container .list {
    background-color: whitesmoke;
    padding: 125px 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom-left-radius: 1.25em;

    .item {
      display: block;
      width: 100%;
      margin-bottom: 0.5em;
      transition: height .3s cubic-bezier(0.23, 1, 0.32, 1);

      .link {
        display: block;
        padding: 1em 10em 1em 1em;
        transition: color .25s ease-out;
      }

      .link:hover {
        color: $yellow;
      }
    }
  }

  .languages {
    position: absolute;
    top: 5.5em;
    right: 1.5em;
    padding: 1rem 0.85rem;
    text-transform: uppercase;

    span {
      font-size: 0.875rem;
      font-weight: 500;
    }
  }
}

.menu-toggle {
  display: none;
}

.menu-button-container {
  cursor: pointer;
  padding: 1.25em 2em;
  z-index: 5;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  position: absolute;
  display: block;
  height: 3px;
  width: 2rem;
  border-radius: 0.25rem;
  background-color: #1b3839;
  transition: transform .325s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
  content: '';
  margin-top: -0.55rem;
}

.menu-button::after {
  content: '';
  margin-top: 0.55rem;
}

.menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

.menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

.menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

/* ------------------------
       Media-queries
------------------------ */
@media screen and (min-width: 1000px) {
  .navigation {
    display: flex;

    &__container {
      position: relative;
      width: fit-content;
    }

    &__home {
      margin-right: 2em;

      .logo {
        width: 175px;
      }
    }

    .list {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .item {
        display: inline-block;

        .link {
          display: inline-block;
          padding: 0.5em 2em;
          font-size: 1rem;
          font-weight: 600;
        }

        .link:hover {
          color: black;
        }
      }

      .item:last-child .link {
        margin-left: 1em;
        padding: 0.75rem 1.25rem;
        color: white;
        background-color: $yellow;
        border-radius: 3em;

        &:hover {
          color: white;
          scale: 1.05;
        }
      }

      &:hover {
        .link {
          color: #cccccc;
        }

        .link:hover {
          color: black;
        }
      }
    }

    .languages {
      position: absolute;
      top: 3em;
      right: 1.5em;
      padding: 1rem;
      font-size: 1rem;
    }

    .menu-toggle, .menu-button-container {
      display: none;
    }
  }
}