/* Clinicoeurs basic styles */

@import "variables";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Comic Sans', 'Comic Sans MS', 'Fredoka', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  color: black;
  max-width: 2000px;
  overflow-x: hidden;
  background-color: white;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body::before {
  content: "";
  position: absolute;
  background-size: contain;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../../img/background/mobile.jpg") no-repeat;
}

section {
  position: relative;
  margin: 0 auto;
  padding: 2.35em 2em;
}

/* Titles & Paragraphes : Mobile */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka', sans-serif;
}

h1 {
  margin: 1em 0 2em;
  font-size: 2em; /* 32px */
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  font-size: 1.25em; /* 20px */
  font-weight: 500;
  line-height: 1.4;
  margin: 1rem 0 1.5rem;
}

h3 {
  font-size: 0.875em; /* 14px */
  font-weight: 400;
  line-height: 1.4;
}

p {
  font-family: 'Comic Sans', 'Comic Sans MS', sans-serif;
  font-size: 0.875rem; /* 12px */
  font-weight: 400;
  line-height: 1.58;
}

span {
  font-family: "Comic Sans", "Comic Sans MS", sans-serif;
  font-size: 0.75rem; /* 12px */
  font-weight: 400;
  text-transform: uppercase;
}

/* Img & Overlay */
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

/* Links */
a, abbr {
  text-decoration: none;
  border: none;
  color: black;
}

/* Cta block */
.cta {
  position: relative;
  margin: 0 auto;
  padding: 0.875rem 3.5rem 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: white;
  background-color: black;
  border-radius: 3em;

  span {
    position: absolute;
    top: 52.5%;
    right: 2rem;
    width: 0.5rem;
    height: 0.5rem;
    border: 2px solid white;
    border-radius: 0.1rem;
    transition: .4s;
    //position
    transform: translateY(-50%) rotate(-45deg);
    border-left: none;
    border-top: none;
  }
  span::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 1.15rem;
    height: 2px;
    border-radius: 1em;
    background-color: white;
    transform-origin: right;
    transform: rotate(45deg) translate(0.1rem, 0.95rem) scaleX(0);
    transition: .3s;
  }
}


.cta:hover span::before {
  transform: rotate(45deg) translate(0.1rem, 0.95rem) scaleX(1);
}

.cta:hover {
  opacity: .9;

  span {
    right: 1rem;
  }
}

/* Cta border animation */
.cta-border::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.cta-border:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Utils */
.none {
  display: none;
}

.hide {
  display: block;
}

/* ----------------------
      Media queries
------------------------ */
@media screen and (min-width: 1250px) {
  body::before {
    background: url("../../img/background/desktop.jpg") no-repeat;
  }

  .none {
    display: block;
  }

  .hide {
    display: none;
  }

  /* Titles & Paragraphes : Desktop */
  h1 {
    font-size: 3.25em; /* 52px */
    line-height: 1.08;
  }

  h2 {
    font-size: 2em; /* 32px */
    line-height: 1.25;
  }

  h3 {
    font-size: 1.25em; /* 20px */
    line-height: 1.4;
  }

  p {
    font-size: 0.875rem; /* 12px */
    line-height: 1.58;
  }

  .cta {
    font-size: 1rem;
    padding: 1rem 1.25rem;

    svg {
      width: 0.4rem;
      height: 0.75rem;
    }
  }
}