/* Variables */

/* CSS HSL */
$purple: hsla(263, 45%, 49%, 1);
$blue: hsla(210, 90%, 43%, 1);
$blue-light: hsla(196, 80%, 44%, 1);
$green: hsla(163, 71%, 47%, 1);
$yellow: hsla(51, 82%, 66%, 1);
$orange: hsla(15, 84%, 59%, 1);
$red-light: hsla(0, 91%, 68%, 1);
$red: hsla(1, 97%, 65%, 1);
$pink: hsla(347, 90%, 65%, 1);

/* Shadows */
$shadow-base: 0 3px 6px rgba(0, 0, 0, 0.16);