/* Hero, Volunteers, Partners, Sponsors */

.volunteers, .partners, .sponsors {
  &__span {
    display: block;
    text-align: center;
    color: #179ACB;
  }

  .cta {
    margin-top: 3em;
    background-color: #179ACB;
  }
}

.volunteers {
  .cta {
    margin-top: 2em;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.125rem;
    justify-items: center;
    align-items: center;

    img {
      width: 3.625rem;
      height: 3.625rem;
      border-radius: 50%;
    }

    img:first-of-type, img:nth-last-of-type(4) {
      margin-top: 1.5rem;
    }

    img:last-of-type, img:nth-last-of-type(3) {
      width: 4.5rem;
      height: 4.5rem;
    }

    img:nth-last-of-type(2) {
      width: 7.25rem;
      height: 7.25rem;
      grid-column: 2/4;
    }
  }
}

.partners, .sponsors {
  p {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem 1.25rem;

    img {
      border-radius: 1rem;
    }
  }
}

@media screen and (min-width: 1250px) {
  .hero {
    img {
      margin-left: 2.5rem;
    }
  }

  .volunteers, .partners, .sponsors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 6rem;
    padding: 5.5em 12em;

    &__span, h2 {
      text-align: left;
    }

    .cta {
      margin: 0;
    }
  }

  .volunteers {
    padding: 5.5em 7.8125em;
    gap: 0 4rem;

    &__span {
      margin-top: 4rem;
    }

    h2 {
      margin: 1.5rem 0 3rem;
    }

    &__gallery {
      grid-row: 1/5;
      grid-column: 1/2;
      gap: 1.85rem;
      margin-left: 0.5rem;

      img {
        width: 6.25rem;
        height: 6.25rem;
      }

      img:first-of-type, img:nth-last-of-type(4) {
        margin-top: 2.85rem;
      }

      img:last-of-type, img:nth-last-of-type(3) {
        width: 7.825rem;
        height: 7.825rem;
      }

      img:nth-last-of-type(2) {
        width: 12.5rem;
        height: 12.5rem;
      }

      img:hover {
        scale: 1.05;
      }
    }
  }

  .partners, .sponsors {

    &__span {
      margin: 0 0 0.75rem;
    }

    h2 {
      margin: 0;
    }

    p {
      text-align: left;
      margin: 1.5rem 0 3rem;
    }

    &__gallery {
      grid-row: 1/5;
      grid-column: 1/2;
      gap: 3rem;

      img {
        width: 115px;
        height: 115px;
        border: 1px solid #DEDEDE;
      }

      img:hover {
        scale: 1.05;
      }
    }
  }

  .partners {
    &__gallery {
      grid-column: 2/3;
    }
  }

  .sponsors {
    .cta {
      margin-bottom: 7.5rem;
    }
  }
}