/* Testimonials */

@import "../other/variables";

.testimonial {

  &__span {
    color: $purple;
  }

  .slider {
    position: relative;
    margin: 2em 0 3em;
    padding: 1.25em 1.75em 1.5em 1.75em;
    background-color: white;
    box-shadow: $shadow-base;
    border-radius: 1em;

    .buttons {
      position: absolute;
      right: 15%;
      bottom: -0.75rem;
      width: 3.2rem;
      height: 1.6rem;
      transform: translateX(50%);

      .previous,
      .next {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.7rem 0.55rem;
        background-color: $purple;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          opacity: .9;
        }
      }

      .previous {
        left: -1.5em;
      }

      .next {
        right: 0;
      }
    }

    .slide {
      display: grid;
      grid-template-columns: 35% 1fr;
      align-items: center;
      gap: 1em 2em;
      border-radius: 1em;

      img {
        width: 90px;
        height: 70px;
        border-radius: 0.5em;
      }

      p {
        margin-top: -0.5em;
        font-size: 0.625rem;

        span {
          position: relative;
          top: 0.5rem;
          font-size: 0.625rem;
          text-transform: uppercase;
        }
      }

      blockquote {
        grid-column: 1/3;
        font-size: 0.75rem;
        line-height: 1.44;
      }

      .active {
        opacity: 1;
        transform: translateX(0) scale(1);
        transition-delay: 0.4s;
      }
    }
  }

  .cta {
    background-color: $purple;
  }
}

@media screen and (min-width: 1250px) {
  .testimonial {
    padding: 7.5rem 12rem;
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 0 8rem;

    span, h2 {
      max-width: 333px;
    }

    .slider {
      grid-row: 1/5;
      grid-column: 1/2;
      position: relative;
      margin: 0 0 4rem;
      padding: 1.25em 2rem 1.75em 1.25em;
      border-radius: 1.25em;

      .slide {
        display: grid;
        grid-template-columns: 135px 1fr;
        align-items: flex-start;
        gap: 0 2rem;

        img {
          width: 135px;
          height: 105px;
        }

        p {
          margin-top: 1rem;
          grid-row: 2/3;
          grid-column: 1/2;
          display: flex;
          justify-content: center;
          font-size: 0.65rem;

          span {
            position: relative;
            top: 0;
            font-size: 0.65rem;
            text-transform: uppercase;
          }

          span::before {
            content: "|";
            margin: 0 0.25rem;
          }
        }

        blockquote {
          margin-top: 0.25rem;
          grid-row: 1/3;
          grid-column: 2/3;
          font-size: 0.875rem;
        }
      }
    }

    .cta {
      margin: 3rem 0 0;
    }
  }
}