/* Volunteers */

@import "../other/variables";

.volunteers {
  &__span {
    color: $red;
  }

  .slider-wrapper {
    position: relative;
    margin: 2em auto 1.5em;
    border-radius: 1em;

    .slider {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      max-height: 200px;

      img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        border-radius: 1em;
      }
    }

    .slider-nav {
      display: flex;
      column-gap: 1.25rem;
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      a {
        width: 0.15rem;
        height: 0.15rem;
        border-radius: 50%;
        background-color: white;
        opacity: .75;
        transition: opacity .25s ease;
        padding: 0.25rem;
      }

      a:hover {
        opacity: 1;
      }
    }
  }

  .list {
    padding: 1em;
    list-style-type: gujarati;

    &__item {
      margin-bottom: 1.5em;

      &__text {
        text-transform: inherit;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.58;
      }
    }
  }
}

@media screen and (min-width: 1250px) {
  .volunteers {
    padding: 5.5rem 12rem 4rem;
    display: grid;
    grid-template-columns: 1fr 34.375rem;
    justify-content: center;
    align-items: center;

    span, h2, p {
      max-width: 333px;
    }

    .slider-wrapper {
      margin: 0 auto;
      grid-column: 2/3;
      grid-row: 1/4;

      .slider {
        max-height: 325px;

        img {
          flex: 1 0 100%;
          scroll-snap-align: start;
          border-radius: 2em;
        }
      }
    }

    .list {
      margin-top: 2.5rem;
      padding: 1em;
      grid-row: 4/5;
      grid-column: 1/3;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 0 3rem;

      &__item {
        text-align: center;
        margin: 0 auto;
        max-width: 275px;
      }
    }
  }
}