/* Volunteers */

@import "../other/variables";

.volunteers {
  &__span {
    color: $red;
  }

  .slider-wrapper {
    position: relative;
    margin: 2em auto 1.5em;
    border-radius: 1em;

    .slider {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      max-height: 200px;

      img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        border-radius: 1em;
      }
    }

    .slider-nav {
      display: flex;
      column-gap: 1.25rem;
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      a {
        width: 0.15rem;
        height: 0.15rem;
        border-radius: 50%;
        background-color: white;
        opacity: .75;
        transition: opacity .25s ease;
        padding: 0.25rem;
      }

      a:hover {
        opacity: 1;
      }
    }
  }

  .list {
    padding: 1em;
    list-style-type: -moz-gujarati;

    &__item {
      margin-bottom: 1.5em;

      &__text {
        text-transform: inherit;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.58;
      }
    }
  }
}